body {
    background-color: #6f6f97;
    color: #000006;
    font-family: Arial, Helvetica, sans-serif;
    font-size: px;
    font-weight: 400%;
    line-height: 2.5em;
    margin: 0;

}

.box1 {
    background: #808040;
    color: #fff;
    border: 5px greenyellow solid;
    border-top-style: double;
    border-bottom-width: 10px;
    padding: 20px;
    margin-top: 20px;
    margin: 20px 0;
}

.container {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: -none;
    color: red;
}

a:hover {
    color: yellowgreen;
}

a:active {
    color: blueviolet;
}

a:visited {
    color: black;
}

.box1 h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;
}

.box2 {
    border: 3px dotted rebeccapurple;
    padding: 20px;
    margin: 20px 0;
}

.category {
    border: 2px black solid;
    border-radius: 20px;

}

.category h2 {
    text-align: center;
}

.category ul {
    padding: 0px;
    padding-left: 70px;
    list-style: none;
}

.category li {
    padding-bottom: 8px;
    border-bottom: 1px salmon solid;
    list-style-image: url(checkbox.png);
}